.catalogSection {
  display: grid;
  grid-template-areas: 
    "lighting chairs cabinets"
    "lighting chairs tables"
    "beds beds tables"
    "beds beds tables"
  ;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--background-light-blue);
}