.backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scaleX(-1);
  top: 0;
  left: 0;
  object-fit: cover;
}

.homeSection{
  display: grid;
  width: 100vw;
  height: 100vh;
}