.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: fit-content;
  top: 3.375rem;
  left: calc(100vw - 15.625rem);
}

.container > h1 {
  font-family: var(--montserrat-font-family);
  font-weight: 600;
}

.container.product {
  color: black;
}

.hidden {
  opacity: 0;
  transition: 1s ease;
}