.container {
  display: flex;
  flex-direction: column;
  width: calc(18.246rem + 1.313rem);
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: var(--antic-font-family);
  font-weight: 100;
}

.container > h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: 0.3rem;
  text-align: center;
}

.container > h4 {
  font-family: var(--montserrat-font-family);
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: 0.1rem;
  margin-left: 0.8rem;
}

.container > div {
  position: absolute;
}

.imageWrap {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

.imageWrap:first-of-type > img {
  top: 3.5rem !important;
}

.imageWrap:last-of-type > img {
  top: 3rem !important;
  left: 0.7rem !important;
}