/* KEYFRAMES */

@keyframes resizeBackground {
  0% {
    width: 100vw;
    height: 50vh;
  }
  20% {
    width: 50vw;
  }
  100% {
    background-color: var(--background-dark-blue);
    width: 50vw;
    height: 100vh;
  }
}

@keyframes setBackgroundToDefault {
  0% {
    background-color: var(--background-dark-blue);
    width: 50vw;
    height: 100vh;
  }
  20% {
    width: 50vw;
  }
  100% {
    width: 100vw;
    height: 50vh;
  }
}

@keyframes blinkSvg {
  0% {
    filter: invert(27%) sepia(11%) saturate(2797%) hue-rotate(140deg) brightness(98%) contrast(83%);
  }
  50% {
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(93%) contrast(93%);
  }
}

/* STYLES */

.productsSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.background {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: var(--background-light-blue);
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background::after {
  content: "";
  width: 45%;
  height: 100%;
  background-color: var(--background-transparent-white);
}

.productsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: inherit;
  height: inherit;

}
.productsContainer > img {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: calc(50vw + 15.625rem + 2rem);
  animation: blinkSvg 1s alternate infinite ease;
}

.productBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  width: calc(15.625rem * 2 + 3.125rem);
  height: calc(19.688rem * 2 + 3.125rem);
  row-gap: 3.125rem;
  column-gap: 3.125rem;
  overflow-y: scroll;
}

.productBox::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.productsSection.productIsSelected > .background {
  animation: resizeBackground 2s ease forwards;
}

.productsSection.productIsSelected > .productsContainer {
  overflow-y: hidden;
}

.productsSection > .productsContainer > .productBox.expandProductBox {
  width: 50rem;
  height: 25rem;
  justify-content: unset;
  align-content: unset;
  align-items: unset;
  row-gap: 0;
  column-gap: 0;
  overflow-y: visible;
  transition: 1s ease 0.5s;
}

.productsSection.productIsSelected.productIsClosed > .background {
  animation: setBackgroundToDefault 1s ease normal;
}

.error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  color: black;
  background-color: white;
  padding: 1rem;
  text-align: center;
}